*.npy
output/*
*.tsv
*.pkl
.tox
**.egg-info**
**__pycache__**
.mypy_cache**
**.swp
**.swo
*.aux
*.fdb_latexmk
*.fls
*.log
*.pyc
*.nav
*.out
*.snm
*.toc
*.bbl
*.bcf
*.blg
*.out
*.run.xml

*.pt
*.h5

dstain.cfg
.dstain.cfg
data/registration
